@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(images/windows-10-original-1600x900.jpg);
}
#Footer-NavBar{
    display: inline-flex;
    position: relative;
    top: 94vh;
    width: 100%;
    height: 6vh;
    background-color: rgba(22,22,22,.7);
}
#Windows-Initial{
    background-color: transparent;
    border: none;
    width: 4%;
}
#Windows-Initial:hover{
    background-color: rgba(50,50,50,.6);
}
#Img-Logo-White-Branca{
    position: relative;
    width: 30px;
}
#Img-Logo-White-Azul{
    position: relative;
    left: 17px;
    display: none;
    width: 30px;
}
#Panel-Windows-User{
    display: none;
    height: 75vh;
    width: 43%;
    position: relative;
    top: 13vh;
    background-color: rgba(30,30,30,.9);
}
.Container{
    display: inline-flex;
    width: 100%;
    height: 75vh;
}
.Left-Content{
    height: 75vh;
    width: 10%;
}
#Hamburguer{
    width: 100%;
    height: 8vh;
    background-color: transparent;
    border: none;
}
#Hamburguer:hover{
    background-color: rgba(60,60,60,.6);
}
.Images-Hamburguer{
    position: relative;
    left: 0.5%;
    width: 37%;
}
#Shutdown-Restart{
    border: none;
    position: relative;
    top: 59vh;
    width: 100%;
    height: 8vh;
    background-color: transparent;
}
#Shutdown-Restart:hover{
    background-color: rgba(60,60,60,.6);
}
.Images-Shutdown{
    width: 36%;
}
#Settings{
    border: none;
    position: absolute;
    top: 59vh;
    width: 10%;
    height: 8vh;
    background-color: transparent;
}
#Settings:hover{
    background-color: rgba(60,60,60,.6);
}
.Image-Settings{
    position: relative;
    left: -2px;
    width: 36%;
}
#Images{
    border: none;
    position: absolute;
    top: 51vh;
    width: 10%;
    height: 8vh;
    background-color: transparent;
}
#Images:hover{
    background-color: rgba(60,60,60,.6);
}
.Images-Users{
    position: relative;
    left: -1px;
    width: 37%;
}
#Pages{
    border: none;
    position: absolute;
    top: 43vh;
    width: 10%;
    height: 8vh;
    background-color: transparent;
}
#Pages:hover{
    background-color: rgba(60,60,60,.6);
}
.Images-Pages{
    width: 37%;
}
#User{
    border: none;
    position: absolute;
    top: 35vh;
    width: 10%;
    height: 8vh;
    background-color: transparent;
}
#User:hover{
    background-color: rgba(60,60,60,.6);
}
.Images-User{
    width: 37%;
}
.Middle-content{
    overflow-y: scroll;
    width: 36%;
    height: 75vh;
}
.Middle-content::-webkit-scrollbar{
    width: 2px;
    background-color: transparent;
}
.Middle-content::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgb(97, 97, 97);
}
.Middle-content::-webkit-scrollbar-thumb:hover{
    background-color: rgb(110, 110, 110);
}
#Add-recently{
    position: relative;
    top: 1.4vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#Add-recently:hover{
    background-color: rgba(60,60,60,.6);
}
.Description-Itens{
    position: relative;
    left: -30px;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#Microsoft-Teams{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 1.8vh;
}
#Microsoft-Teams:hover{
    background-color: rgba(60,60,60,.6);
}
.Description-Item{
    position: relative;
    left: 8%;
    top: 1.5vh;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
.Item-Images{
    position: relative;
    left: 12%;
    height: 5vh;
    top: 2px;
    width: 40px;
}
.Img-Teams{
    width: 85%;
}
#Microsoft-Acess{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 1.8vh;
}
.Item-Image-Acess{
    position: relative;
    left: 19%;
    height: 4.5vh;
    top: 2px;
    width: 40px;
}
#Microsoft-Acess:hover{
    background-color: rgba(60,60,60,.6);
}
#Skype-for-Business{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 1.8vh;
}
#Skype-for-Business:hover{
    background-color: rgba(60,60,60,.6);
}
.Item-Skype-for-Business{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 2px;
    width: 40px;
}
#Expand{
    position: relative;
    top: 3vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#Expand:hover{
    background-color: rgba(60,60,60,.6);
}
.Expand-item{
    position: relative;
    left: -31%;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#A{
    position: relative;
    top: 4vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#A:hover{
    background-color: rgba(60,60,60,.6);
}
.A-item{
    position: relative;
    left: -38.5%;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#Microsoft-Acess-Two{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 4.5vh;
}
#Microsoft-Acess-Two:hover{
    background-color: rgba(60,60,60,.6);
}
#Windows-Folder{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 5vh;
}
#Windows-Folder:hover{
    background-color: rgba(60,60,60,.6);
}
.Item-Windows-Folder{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 2px;
    width: 40px;
}
#Alarm-Clock{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 5vh;
}
#Alarm-Clock:hover{
    background-color: rgba(60,60,60,.6);
}
.Item-Alarm-Clock{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 2px;
    width: 40px;
}
#C{
    position: relative;
    top: 6vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#C:hover{
    background-color: rgba(60,60,60,.6);
}
.C-item{
    position: relative;
    left: -38.5%;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#Calculator{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 7vh;
}
#Calculator:hover{
    background-color: rgba(60,60,60,.6);
}
.Item-Calculator{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 2px;
    width: 40px;
}
#Calendar{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 7vh;
}
#Calendar:hover{
    background-color: rgba(60,60,60,.6);
}
.Item-Calendar{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 2px;
    width: 40px;
}
#D{
    position: relative;
    top: 8vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#D:hover{
    background-color: rgba(60,60,60,.6);
}
.D-item{
    position: relative;
    left: -38.5%;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#Itens{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 9vh;
}
#Itens:hover{
    background-color: rgba(60,60,60,.6);
}
.Item{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 6px;
    width: 35px;
}
#Letra{
    position: relative;
    top: 11vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#Letra:hover{
    background-color: rgba(60,60,60,.6);
}
.Letra-item{
    position: relative;
    left: -38.5%;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#Email{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 12vh;
}
#Email:hover{
    background-color: rgba(60,60,60,.6);
}
.Email-Item{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 3px;
    width: 35px;
}
#Letra-F{
    position: relative;
    top: 14vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#Letra-F:hover{
    background-color: rgba(60,60,60,.6);
}
.Letra-item-F{
    position: relative;
    left: -38.5%;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#Foto{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 15vh;
}
#Foto:hover{
    background-color: rgba(60,60,60,.6);
}
.Foto-Item{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 3px;
    width: 35px;
}
#Letra-G{
    position: relative;
    top: 17vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#Letra-G:hover{
    background-color: rgba(60,60,60,.6);
}
.Letra-item-G{
    position: relative;
    left: -38.5%;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#Chrome{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 19vh;
}
#Chrome:hover{
    background-color: rgba(60,60,60,.6);
}
.Chrome-Item{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 3px;
    width: 35px;
}
#Letra-M{
    position: relative;
    top: 21vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#Letra-M:hover{
    background-color: rgba(60,60,60,.6);
}
.Letra-item-M{
    position: relative;
    left: -38.5%;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#Edge{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 23vh;
}
#Edge:hover{
    background-color: rgba(60,60,60,.6);
}
.Edge-Item{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 3px;
    width: 35px;
}
#Store{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 23vh;
}
#Store:hover{
    background-color: rgba(60,60,60,.6);
}
.Store-Item{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 3px;
    width: 35px;
}
.Rigth-Content{
    position: relative;
    left: 0.8%;
    width: 52%;
    height: 75vh;
}
#Productivity{
    display: inline-flex;
    border: none;
    background-color: transparent;
    position: relative;
    top: 1.34vh;
    width: 100%;
    height: 5vh;
}
.Title-Block-1{
    position: relative;
    left: 3.5%;
    top: 1.55vh;
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
}
.Hamburguer-Container{
    position: absolute;
    left: 85%;
    width: 50px;
    height: 5vh;
}
.Hamburguer-2{
    opacity: 0;
    position: relative;
    top: 0.7vh;
    width: 50%;
}
#Productivity:hover .Hamburguer-2{
    opacity: 1;
    transition: 0.2s;
}
.Panels-Produtividade{
    width: 95%;
    height: 23vh;
    position: relative;
    top: 2vh;
    left: 2.5%;
}
.Panels-Produtividade-Line-1{
    display: inline-flex;
    width: 100%;
    height: 10vh;

}
#Produtividade-Panels-1{
    background-color: rgba(55,55,55,.6);
    border: none;
    width: 31.1%;
    height: 10vh;
}
#Produtividade-Panels-1:hover{
    background-color: rgba(65,65,65,.6);
    border: 1px solid rgba(156, 156, 156, 0.6);
}
#Produtividade-Panels-2{
    position: relative;
    left: 3.33%;
    background-color: rgba(55,55,55,.6);
    border: none;
    width: 31.1%;
    height: 10vh;
}
#Produtividade-Panels-2:hover{
    background-color: rgba(65,65,65,.6);
    border: 1px solid rgba(156, 156, 156, 0.6);
}
#Produtividade-Panels-3{
    position: relative;
    left: 6.66%;
    background-color: rgba(55,55,55,.6);
    border: none;
    width: 31.1%;
    height: 10vh;
}
#Produtividade-Panels-3:hover{
    background-color: rgba(65,65,65,.6);
    border: 1px solid rgba(156, 156, 156, 0.6);
}
.Panels-Produtividade-Line-2{
    position: relative;
    top: 1vh;
    display: inline-flex;
    width: 100%;
    height: 10vh;
}
#Produtividade-Panels-4{
    background-color: rgba(55,55,55,.6);
    border: none;
    width: 31.1%;
    height: 10vh;
}
#Produtividade-Panels-4:hover{
    background-color: rgba(65,65,65,.6);
    border: 1px solid rgba(156, 156, 156, 0.6);
}
#Produtividade-Panels-5{
    position: relative;
    left: 3.33%;
    background-color: rgba(55,55,55,.6);
    border: none;
    width: 31.1%;
    height: 10vh;
}
#Produtividade-Panels-5:hover{
    background-color: rgba(65,65,65,.6);
    border: 1px solid rgba(156, 156, 156, 0.6);
}
#Produtividade-Panels-6{
    position: relative;
    left: 6.66%;
    background-color: rgba(55,55,55,.6);
    border: none;
    width: 31.1%;
    height: 10vh;
}
#Produtividade-Panels-6:hover{
    background-color: rgba(65,65,65,.6);
    border: 1px solid rgba(156, 156, 156, 0.6);
}
.Container-Image-Panel-1{
    top: 1vh;
    position: relative;
    left: 25%;
    width: 50%;
    height: 6vh;
}
.Image-Panel-1{
    width:60%;
}
.Name-Panel{
    position: relative;
    top: .5vh;
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
}
.Produtividade-Panels-Linha-1{
    display: inline-flex;
    position: relative;
    top: vh;
    left: 5%;
    width: 90%;
    height: 3.33vh;
}
.Produtividade-Panels-Linha-2{
    display: inline-flex;
    position: relative;
    top: vh;
    left: 5%;
    width: 90%;
    height: 3.33vh;
}
.Produtividade-Panels-Linha-3{
    position: relative;
    display: inline-flex;
    left: 5%;
    width: 90%;
    height: 3.33vh;
}
.Produtividade-Img-1{
    width: 31.11%;
    position: relative;
    top: .33vh;
    height: 3vh;
}
.Produtividade-Img-2{
    width: 31.11%;
    position: relative;
    top: .33vh;
    height: 3vh;
}
.Produtividade-Img-3{
    width: 31.11%;
    position: relative;
    top: .33vh;
    height: 3vh;
}
.Outlook{
    position: relative;
    top: 0.33vh;
    width: 60%;
}
.Word{
    position: relative;
    top: 0.33vh;
    width: 60%;
}
.Excel{
    position: relative;
    top: 0.33vh;
    width: 60%;
}
.Produtividade-Img-4{
    width: 31.11%;
    position: relative;
    top: .33vh;
    height: 3vh;
}
.Produtividade-Img-5{
    width: 31.11%;
    position: relative;
    top: .33vh;
    height: 3vh;
}
.Produtividade-Img-6{
    width: 31.11%;
    position: relative;
    top: .33vh;
    height: 3vh;
}
.Powerpoint{
    position: relative;
    top: 0.33vh;
    width: 60%;
}
.Microsoft-Acess-Img{
    position: relative;
    top: 0.33vh;
    width: 60%;
}
.Microsoft-Skype{
    position: relative;
    top: 0.13vh;
    width: 60%;
}
.Produtividade-Img-7{
    width: 31.11%;
    position: relative;
    top: .33vh;
    height: 3vh;
}
#Screen-1{
    animation-duration: 1s;
    animation-name: TrocaDeSlider;  
    top: -1.3vh;
    position: relative;
    width: 90%;
    left: 5%;
    height: 6vh;
}
.Screen-1-Text{
    font-family: 'Roboto';
    font-size: 12px;
    color: white;
}
.Screen-1-Text-Fixed{
    display: inline-flex;
    position: absolute;
    top: 6.8vh;
    left: 5%;
    width: 90%;
    height: 3vh;
}
.Text-Fixed{
    position: relative;
    left: 5%;
    font-family: 'Roboto';
    font-size: 12px;
    top: .5vh;
    color: white;
}
.Icon-Email{
    top: 0vh;
    position: absolute;
    left: 65%;
    width: 35%;
    height: 3vh;
}
.Icon-Email-2{
    position: relative;
    left: -5%;
    width: 60%;
}
@keyframes TrocaDeSlider{
    to{
        transform: translateY(0);
    }
    from{
        transform: translateY(6vh);
        opacity: .1;
    }
}
#Screen-2{
    display: none;
    top: -1.3vh;
    position: relative;
    width: 90%;
    left: 5%;
    height: 6vh;
}
.Screen-2-Text{
    font-family: 'Roboto';
    font-size: 12px;
    color: white;
}
@keyframes TrocaDeSlider2{
    to{
        transform: translateY(0);
    }
    from{
        transform: translateY(6vh);
        opacity: .1;
    }
}
.Panels-4-Container{
    position: relative;
    top: -.3vh;
    left: 25%;
    width: 50%;
    height: 6vh;
}
.Panels-4-Image{
    width: 85%;
}
.Text-Panels-4{
    font-family: 'Roboto';
    font-size: 12px;
    color: white;
}
#Container-images-Panel-5{
    width: 100%;
    height: 10vh;
}
#Container-Fixed-Text-Panel-5{
    display: inline-flex;
    position: absolute;
    height: 3vh;
    width: 100%;
    left: 0%;
    top: 7vh;
}
#ImageInitial{
    position: relative;
    top: .5vh;
    width: 43%;
    height: 6vh;
}
.Text-Panel-5{
    position: relative;
    font-family: 'Roboto';
    left: 10%;
    font-size: 13px;
    color: white;
}
#Image-Flex{
    display: none;
    width: 100%;
    height: 10vh;
}
#Image-Flex-2{
    position: absolute;
    display: none;
    top: 0vh;
    left: 0%;
    width: 100%;
    height: 10vh;
}
#Image-Flex-3{
    position: absolute;
    display: none;
    top: 0vh;
    left: 0%;
    width: 100%;
    height: 10vh;
}
#Image-Flex-4{
    position: absolute;
    display: none;
    top: 0vh;
    left: 0%;
    width: 100%;
    height: 10vh;
}
#Image-Flex-5{
    position: absolute;
    display: none;
    top: 0vh;
    left: 0%;
    width: 100%;
    height: 10vh;
}
.Logo-Image-Panel-5{
    position: relative;
    width: 5%;
    height: 5vh;
}
.Image-Email{
    position: relative;
    top: -.8vh;
    left: 20%;
    width: 30%;
    height: 3vh;
}
.Container-Image-Email{
    width: 80%;
}
@keyframes TrocaDeImagem{
    to{
        transform: translateY(0);
    }
    from{
        transform: translateY(4vh);
        opacity: .1;
    }
}
.Image-Correct{
    width: 50%;
    position: relative;
    left: 25%;
    top: -1vh;
    height: 5vh;
}
.Img-Correct{
    width: 80%;
}
.To-Do{
    font-family: 'Roboto';
    position: relative;
    left: 18%;
    width: 60%;
    font-size: 13px;
    color: white;
}