@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(images/windows-10-original-1600x900.jpg);
}
#Footer-NavBar{
    display: inline-flex;
    position: relative;
    top: 94vh;
    width: 100%;
    height: 6vh;
    background-color: rgba(22,22,22,.7);
}
#Windows-Initial{
    background-color: transparent;
    border: none;
    width: 4.2%;
}
#Windows-Initial:hover{
    background-color: rgba(50,50,50,.6);
}
#Img-Logo-White-Branca{
    position: relative;
    width: 30px;
}
#Img-Logo-White-Azul{
    position: relative;
    left: 17px;
    display: none;
    width: 30px;
}
#Panel-Windows-User{
    display: none;
    height: 75vh;
    width: 43%;
    position: relative;
    top: 13vh;
    background-color: rgba(30,30,30,.9);
}
.Container{
    display: inline-flex;
    width: 100%;
    height: 75vh;
}
.Left-Content{
    height: 75vh;
    width: 10%;
}
#Hamburguer{
    width: 100%;
    height: 8vh;
    background-color: transparent;
    border: none;
}
#Hamburguer:hover{
    background-color: rgba(60,60,60,.6);
}
.Images-Hamburguer{
    position: relative;
    left: 0.5%;
    width: 37%;
}
#Shutdown-Restart{
    border: none;
    position: relative;
    top: 59vh;
    width: 100%;
    height: 8vh;
    background-color: transparent;
}
#Shutdown-Restart:hover{
    background-color: rgba(60,60,60,.6);
}
.Images-Shutdown{
    width: 36%;
}
#Settings{
    border: none;
    position: absolute;
    top: 59vh;
    width: 10%;
    height: 8vh;
    background-color: transparent;
}
#Settings:hover{
    background-color: rgba(60,60,60,.6);
}
.Image-Settings{
    position: relative;
    left: -2px;
    width: 36%;
}
#Images{
    border: none;
    position: absolute;
    top: 51vh;
    width: 10%;
    height: 8vh;
    background-color: transparent;
}
#Images:hover{
    background-color: rgba(60,60,60,.6);
}
.Images-Users{
    position: relative;
    left: -1px;
    width: 37%;
}
#Pages{
    border: none;
    position: absolute;
    top: 43vh;
    width: 10%;
    height: 8vh;
    background-color: transparent;
}
#Pages:hover{
    background-color: rgba(60,60,60,.6);
}
.Images-Pages{
    width: 37%;
}
#User{
    border: none;
    position: absolute;
    top: 35vh;
    width: 10%;
    height: 8vh;
    background-color: transparent;
}
#User:hover{
    background-color: rgba(60,60,60,.6);
}
.Images-User{
    width: 37%;
}
.Middle-content{
    overflow-y: scroll;
    width: 40%;
    height: 75vh;
}
.Middle-content::-webkit-scrollbar{
    width: 2px;
    background-color: transparent;
}
.Middle-content::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgb(97, 97, 97);
}
.Middle-content::-webkit-scrollbar-thumb:hover{
    background-color: rgb(110, 110, 110);
}
#Add-recently{
    position: relative;
    top: 1.4vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#Add-recently:hover{
    background-color: rgba(60,60,60,.6);
}
.Description-Itens{
    position: relative;
    left: -30px;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#Microsoft-Teams{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 1.8vh;
}
#Microsoft-Teams:hover{
    background-color: rgba(60,60,60,.6);
}
.Description-Item{
    position: relative;
    left: 8%;
    top: 1.5vh;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
.Item-Images{
    position: relative;
    left: 12%;
    height: 5vh;
    top: 2px;
    width: 40px;
}
.Img-Teams{
    width: 85%;
}
#Microsoft-Acess{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 1.8vh;
}
.Item-Image-Acess{
    position: relative;
    left: 19%;
    height: 4.5vh;
    top: 2px;
    width: 40px;
}
#Microsoft-Acess:hover{
    background-color: rgba(60,60,60,.6);
}
#Skype-for-Business{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 1.8vh;
}
#Skype-for-Business:hover{
    background-color: rgba(60,60,60,.6);
}
.Item-Skype-for-Business{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 2px;
    width: 40px;
}
#Expand{
    position: relative;
    top: 3vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#Expand:hover{
    background-color: rgba(60,60,60,.6);
}
.Expand-item{
    position: relative;
    left: -31%;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#A{
    position: relative;
    top: 4vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#A:hover{
    background-color: rgba(60,60,60,.6);
}
.A-item{
    position: relative;
    left: -38.5%;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#Microsoft-Acess-Two{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 4.5vh;
}
#Microsoft-Acess-Two:hover{
    background-color: rgba(60,60,60,.6);
}
#Windows-Folder{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 5vh;
}
#Windows-Folder:hover{
    background-color: rgba(60,60,60,.6);
}
.Item-Windows-Folder{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 2px;
    width: 40px;
}
#Alarm-Clock{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 5vh;
}
#Alarm-Clock:hover{
    background-color: rgba(60,60,60,.6);
}
.Item-Alarm-Clock{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 2px;
    width: 40px;
}
#C{
    position: relative;
    top: 6vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#C:hover{
    background-color: rgba(60,60,60,.6);
}
.C-item{
    position: relative;
    left: -38.5%;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#Calculator{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 7vh;
}
#Calculator:hover{
    background-color: rgba(60,60,60,.6);
}
.Item-Calculator{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 2px;
    width: 40px;
}
#Calendar{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 7vh;
}
#Calendar:hover{
    background-color: rgba(60,60,60,.6);
}
.Item-Calendar{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 2px;
    width: 40px;
}
#D{
    position: relative;
    top: 8vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#D:hover{
    background-color: rgba(60,60,60,.6);
}
.D-item{
    position: relative;
    left: -38.5%;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#Itens{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 9vh;
}
#Itens:hover{
    background-color: rgba(60,60,60,.6);
}
.Item{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 6px;
    width: 35px;
}
#Letra{
    position: relative;
    top: 11vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#Letra:hover{
    background-color: rgba(60,60,60,.6);
}
.Letra-item{
    position: relative;
    left: -38.5%;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#Email{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 12vh;
}
#Email:hover{
    background-color: rgba(60,60,60,.6);
}
.Email-Item{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 3px;
    width: 35px;
}
#Letra-F{
    position: relative;
    top: 14vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#Letra-F:hover{
    background-color: rgba(60,60,60,.6);
}
.Letra-item-F{
    position: relative;
    left: -38.5%;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#Foto{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 15vh;
}
#Foto:hover{
    background-color: rgba(60,60,60,.6);
}
.Foto-Item{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 3px;
    width: 35px;
}
#Letra-G{
    position: relative;
    top: 17vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#Letra-G:hover{
    background-color: rgba(60,60,60,.6);
}
.Letra-item-G{
    position: relative;
    left: -38.5%;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#Chrome{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 19vh;
}
#Chrome:hover{
    background-color: rgba(60,60,60,.6);
}
.Chrome-Item{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 3px;
    width: 35px;
}
#Letra-M{
    position: relative;
    top: 21vh;
    color: white;
    border: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}
#Letra-M:hover{
    background-color: rgba(60,60,60,.6);
}
.Letra-item-M{
    position: relative;
    left: -38.5%;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
}
#Edge{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 23vh;
}
#Edge:hover{
    background-color: rgba(60,60,60,.6);
}
.Edge-Item{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 3px;
    width: 35px;
}
#Store{
    border-radius: 2px;
    display: inline-flex;
    border: none;
    position: relative;
    color: white;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    top: 23vh;
}
#Store:hover{
    background-color: rgba(60,60,60,.6);
}
.Store-Item{
    position: relative;
    left: 16%;
    height: 4.5vh;
    top: 3px;
    width: 35px;
}